building_permits_09252024/data/building_permit_adenda_with_routing_since_2014.csv filter=lfs diff=lfs merge=lfs -text
building_permits_09252024/data/deduplicated_residential_building_permits_completed_since_2000.csv filter=lfs diff=lfs merge=lfs -text
building_permits_09252024/data/deduplicated_residential_building_permits_issued_filed_since_2000.csv filter=lfs diff=lfs merge=lfs -text
